.metadata

frontend/node_modules

backend1/.mvn
backend1/.settings
backend1/target/classes
backend1/target/generated-sources
backend1/target/maven-archiver
backend1/target/maven-status
backend1/target/test-classes

backend2/.mvn
backend2/.settings
backend2/target/classes
backend2/target/generated-sources
backend2/target/maven-archiver
backend2/target/maven-status
backend2/target/test-classes

